
@import "https://unpkg.com/open-props";

html, body {
  height: 100%;
  overflow: auto;
}

body {
  background-image: url("https://images.unsplash.com/photo-1564835099575-3a09829cbee8?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1769&q=80");
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  padding: 0;
  position: relative;
  z-index: 1;
  width: 100%; 
  height:100%;
  overflow:auto;
}

.submit {
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 48;
}


.input-time{
  width: 150px
}

.input-time:hover{
  background-color: #007dc1;
}

.card:hover {
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
  transform: translateY(-0.5rem);
}

#bcFerriesImage {
  display: flex;
  justify-content: center;
  background: #515DA2;
  opacity: .8;
  height: 7rem;
  padding: 1rem;
}
#bcFerriesImage:hover{
  background-color: #007dc1;
}

.footer {
  display:flex;
  justify-content:center;
  background: #515DA2;
  opacity: .95;
  height: 7rem;
  padding: 1rem;
  box-shadow: var(--shadow-5);
  font-size:larger;
}

.footer:hover{
    background-color: #007dc1;
}

.container {
    display:flex;
    justify-content: center;
    height:100vh;
    position: relative;
  }

.card{
    text-align: center;
    width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #fff;
    opacity: .85;
    border-radius: 10px;
    margin: 0.5rem;
    margin-bottom: 1rem;
    transition: transform 0.2s ease-out;
    box-shadow: 0 0 5px -2px rgba(0, 0, 0, 0.1);
    flex-wrap: wrap;
    display: inline-grid;
    position: relative;
    bottom: 650px;
    box-shadow: var(--shadow-5);
}

.card:hover{
  background-color: #007dc1;
}

#bcFerriesImage {
  transition: transform 0.2s ease-out;
  box-shadow: var(--shadow-5);
}

.showFerryList{
    color:black;
    font-size: large;
    background-color: #fff;
    border-radius: 10px;
    position: relative;
    bottom: 650px;
    box-shadow: var(--shadow-5);
}

#showFerryList{
  box-shadow:inset 0px 0px 0px 0px #54a3f7;
	background:linear-gradient(to bottom, #007dc1 5%, #0061a7 100%);
	background-color:#007dc1;
	border-radius:4px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:16px;
	padding:9px 19px;
	text-decoration:none;
	text-shadow:0px 0px 0px #154682;
}

#showFerryList:hover{
  background:linear-gradient(to bottom, #0061a7 5%, #007dc1 100%);
	background-color:#0061a7;
}

.submit {
  font-size: 0;
  border: none;
  background-color: transparent;
  background-image: url("https://cdn-icons-png.flaticon.com/512/149/149852.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  height: 30px;
  width: 30px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.2s ease-out;
}

.topBtn{
  position: relative;
  top: 2px;
  left:23rem;
  box-shadow:inset 0px 0px 0px 0px #54a3f7;
	background:linear-gradient(to bottom, #007dc1 5%, #0061a7 100%);
	background-color:#007dc1;
	border-radius:4px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:16px;
	padding:9px 19px;
	text-decoration:none;
	text-shadow:0px 0px 0px #154682;
}

.topBtn:hover{
  background:linear-gradient(to bottom, #0061a7 5%, #007dc1 100%);
	background-color:#0061a7;
}


/*----------------------------------------------------------------------------*/



